<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <servlet-name>PlayerServlet</servlet-name>
    <servlet-class>cn.nutkc.servlet.PlayerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GammingServlet</servlet-name>
    <servlet-class>cn.nutkc.servlet.GammingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EnterRoomServlet</servlet-name>
    <servlet-class>cn.nutkc.servlet.EnterRoomServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TServlet</servlet-name>
    <servlet-class>cn.nutkc.servlet.TServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReadyServlet</servlet-name>
    <servlet-class>cn.nutkc.servlet.ReadyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>cn.nutkc.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BoardImgServlet</servlet-name>
    <servlet-class>cn.nutkc.servlet.BoardImgServlet</servlet-class>
  </servlet>
  <filter>
    <filter-name>TableFilter</filter-name>
    <filter-class>cn.nutkc.filter.TableFilter</filter-class>
  </filter>
  <filter>
    <filter-name>BoardImgFilter</filter-name>
    <filter-class>cn.nutkc.filter.BoardImgFilter</filter-class>
  </filter>  
  
  
  <filter-mapping>
    <filter-name>BoardImgFilter</filter-name>
    <url-pattern>/BoardImgServlet</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>TableFilter</filter-name>
    <url-pattern>/table.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>PlayerServlet</servlet-name>
    <url-pattern>/PlayerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GammingServlet</servlet-name>
    <url-pattern>/GammingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EnterRoomServlet</servlet-name>
    <url-pattern>/EnterRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TServlet</servlet-name>
    <url-pattern>/TServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReadyServlet</servlet-name>
    <url-pattern>/ReadyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BoardImgServlet</servlet-name>
    <url-pattern>/BoardImgServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>cn.nutkc.listener.ContextInitListener</listener-class>
  </listener>
</web-app>